*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.idea/
local.properties
/app/.idea/.gitignore
/.idea/deploymentTargetSelector.xml
/app/.idea/caches/deviceStreaming.xml
/app/.idea/gradle.xml
/app/.idea/migrations.xml
/app/.idea/misc.xml
/app/.idea/runConfigurations.xml
/.idea/vcs.xml
/app/.idea/vcs.xml
